<!DOCTYPE html>
<html lang="en">
<%- include('widget/header', {title : 'BUMDES | Badan Usaha Milik Desa'}) %>
<body >
  <%- include('widget/navbar') %>

  <%- include('section/section_hero') %>

  <%- include('section/section_usaha') %>

  <%- include('section/section_cerita_kami') %>

  <%- include('section/section_footer') %>
  
</body>
<%- include('widget/footer') %>
</html>