<aside class="main-sidebar sidebar-dark-primary" style="background-color: #1aa4b800;background-image: linear-gradient(141deg, #ffffffd1 0%, #fffffffa 75%) !important;font-size: 13px;font-weight: bold;border-right: 2px solid #e9e9e9;">
    <a href="index3.html" class="brand-link logo-switch px-3" style="border-bottom: 0px solid #e3e3e3;background-color: #ffffff78;">
            <img src="/static/img/logo.png" alt="Outlet Pulsa" class="brand-image-xl logo-xs" style="opacity: .8;background-color: white;">
            <img src="/static/img/logo-backend.png" alt="Outlet Pulsa" class="brand-image-xs logo-xl" style="opacity: .8;background-color: white;">
    </a>
    <div class="sidebar px-0">
        <nav class="mt-2 px-2 mb-3">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="background-color: #ffffffc7;">
                <% menu.forEach((value, key) => { %>
                    <% if ( Object.keys(submenu).length > 0 ) { %>
                        <% if ( submenu.hasOwnProperty(key)  ) { %>
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link pl-3 <%= value.path %> ">
                                    <i class="nav-icon <%=  value.icon %>"></i>
                                    <p><%= value.name %><i class="fas fa-angle-left right"></i></p>
                                </a>
                                <ul class="nav nav-treeview pl-4">
                                    <% submenu[key].forEach((value_sub, key_sub) => { %>
                                        <li class="nav-item ml-1">
                                            <a class="nav-link <%= value_sub.path %>" onClick="menu('<%= value.icon %>', '<%= value_sub.path %>')">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p><%= value_sub.name %></p>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link pl-3 <%= key == 0 ? 'active' : ''%> <%= value.path %>" onClick="menu('<%= value.icon %>' , '<%= value.path %>')">
                                    <i class="nav-icon <%=  value.icon %>"></i>
                                    <p><%= value.name %></p>
                                </a>
                            </li>
                        <% } %>
                    <% } else{ %>
                        <li class="nav-item">
                            <a class="nav-link pl-3 <%= key == 0 ? 'active' : ''%> <%= value.path %>" onClick="menu('<%= value.icon %>' , '<%= value.path %>')">
                                <i class="nav-icon <%=  value.icon %>"></i>
                                <p><%= value.name %></p>
                            </a>
                        </li>
                    <% } %>
                <% }); %>
            </ul>
        </nav>
    </div>
</aside>