<!DOCTYPE html>
<html lang="en">
<%- include('widget/header', {title : 'Backend Area | BUMDES | Badan Usaha Milik Desa'}) %>
<body >
	<div style="display: none;" id="loader2"></div>
	<div class="wrapper">
		<input type="hidden" name="tab" id="tab" value="<%= JSON.stringify(list_tab) %>">
		<%- include('widget/navbar') %>
      <%- include('widget/sidebar') %>
      <div class="content-wrapper" style="background-color: #e3e4e5;">
			<div class="content">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row">
							<div class="col-2 col-lg-6 pl-3" id="position">
							</div>
							<div class="col-10 col-lg-6">
								<ol class="breadcrumb float-sm-right" id="breadcrumb">
								</ol>
							</div>
						</div>
					</div>
				</div>
				<section class="content px-3 pb-0" style="min-height: 60vh;">
					<div class="row" id="content-area" style="height: 100%;"></div>
				</section>
			</div>
      </div>
   </div>
 </body>
<%- include('widget/footer') %>
</html>